body{
    margin: 0;
    background-image: url('background.jpg');
}
div{
    white-space: nowrap;
}
.container{
    display: flex;
}
.Navigation{
    position: absolute;
    background: #2694BA;
    width: 100px;
    height: 768px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.Icon{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 15px;
    top: 11px;
    background-image: url('list.png');
}
.Dash{
    
    height: 768px;
}
.Header{
    background-color: #E8F8FF;
    width: 1336px;
}
.header{
    text-transform: uppercase;
    position: relative;
    width: 133px;
    height: 59px;
    left: 117px;
    top: 2px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 59px;
}
.StudProfileBG{
    position: relative;
    width: 853px;
    height: 161px;
    left: 100px;
    top: 20px;
    background: #E8F8FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.StudProfile{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 33px;
    top: 19px;
    background: #0A0044;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.StudNam{
    position: relative;
    left: 150px;
    top: 27px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    color: #1B1B1B;
}
.Student{
    text-transform: uppercase;
    position: absolute;
    width: 89px;
    height: 23px;
    left: 150px;
    top: 69px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.IT{
    position: absolute;
    width: 263px;
    height: 23px;
    left: 150px;
    top: 91px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #616161;
}
.thirdyear{
    position: absolute;
    width: 111px;
    height: 23px;
    left: 150px;
    top: 113px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #616161;
}
.Line{
    position: absolute;
    width: 844px;
    height: 0px;
    top: 172px;
    border: 5px solid #2694BA;
}
.subbg{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 133px;
    top: 313px;
    background: #E8F8FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.subbox{
    position: absolute;
    width: 373px;
    height: 100px;
    left: 148px;
    top: 328px;
    background: rgba(38, 148, 186, 0.7);
    border-radius: 10px;
}
.subname{
    position: absolute;
    white-space: nowrap;
    width: 146px;
    height: 23px;
    left: 160px;
    top: 339px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.subcode{
    position: absolute;
    width: 71px;
    height: 12px;
    left: 160px;
    top: 361px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.subprof{
    position: absolute;
    width: 78px;
    height: 13px;
    left: 160px;
    top: 373px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.subimage{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 303px;
    top: 397px;
    background: #0A0044;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.num1{
    position: absolute;
    width: 24px;
    height: 23px;
    left: 158px;
    top: 457px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #A2B81F;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.num2{
    position: absolute;
    width: 24px;
    height: 23px;
    left: 497px;
    top: 457px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #1C1B54;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.activestud{
    position: absolute;
    width: 35px;
    height: 6px;
    left: 183px;
    top: 460px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
}
.totsud{
    position: absolute;
    width: 33px;
    height: 6px;
    left: 410px;
    top: 460px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
}
.activestudpercent{
    position: absolute;
    width: 160px;
    height: 20px;
    left: 158px;
    top: 480px;
    background: #A2B81F;
    border-radius: 100px;
}
.totstudpercent{
    position: absolute;
    width: 363px;
    height: 20px;
    left: 158px;
    top: 480px;
    background: #1C1B54;
    border-radius: 100px;
}

.subbg1{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 133px;
    top: 530px;
    background: #E8F8FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.subbox1{
    position: absolute;
    width: 373px;
    height: 100px;
    left: 148px;
    top: 545px;
    background: rgba(38, 148, 186, 0.7);
    border-radius: 10px;
}
.subname1{
    position: absolute;
    width: 146px;
    height: 23px;
    left: 160px;
    top: 556px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.subcode1{
    position: absolute;
    width: 71px;
    height: 12px;
    left: 160px;
    top: 578px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.subprof1{
    position: absolute;
    width: 78px;
    height: 12px;
    left: 160px;
    top: 590px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.subimage1{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 303px;
    top: 614px;
    background: #0A0044;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.num11{
    position: absolute;
    width: 24px;
    height: 23px;
    left: 158px;
    top: 674px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #A2B81F;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.num21{
    position: absolute;
    width: 24px;
    height: 23px;
    left: 497px;
    top: 674px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #1C1B54;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.activestud1{
    position: absolute;
    width: 35px;
    height: 6px;
    left: 182px;
    top: 677px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
}
.totsud1{
    position: absolute;
    width: 69px;
    height: 13px;
    left: 410px;
    top: 677px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
}
.activestudpercent1{
    position: absolute;
    width: 160px;
    height: 20px;
    left: 158px;
    top: 697px;
    background: #A2B81F;
    border-radius: 100px;
}
.totstudpercent1{
    position: absolute;
    width: 363px;
    height: 20px;
    left: 158px;
    top: 697px;
    background: #1C1B54;
    border-radius: 100px;
}

.subbg2{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 553px;
    top: 313px;
    background: #E8F8FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.subbox2{
    position: absolute;
    width: 373px;
    height: 100px;
    left: 568px;
    top: 328px;
    background: rgba(38, 148, 186, 0.7);
    border-radius: 10px;
}
.subname2{
    position: absolute;
    width: 292px;
    height: 27px;
    left: 580px;
    top: 339px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.subcode2{
    position: absolute;
    width: 27px;
    height: 13px;
    left: 580px;
    top: 361px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.subprof2{
    position: absolute;
    width: 74px;
    height: 13px;
    left: 580px;
    top: 373px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.subimage2{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 718px;
    top: 397px;
    background: #0A0044;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.num12{
    position: absolute;
    width: 24px;
    height: 27px;
    left: 578px;
    top: 457px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #A2B81F;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.num22{
    position: absolute;
    width: 24px;
    height: 27px;
    left: 917px;
    top: 457px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #1C1B54;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.activestud2{
    position: absolute;
    width: 69px;
    height: 13px;
    left: 604px;
    top: 460px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
}
.totsud2{
    position: absolute;
    width: 63px;
    height: 13px;
    left: 828px;
    top: 460px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
}
.activestudpercent2{
    position: absolute;
    width: 231px;
    height: 20px;
    left: 578px;
    top: 480px;
    background: #A2B81F;
    border-radius: 100px;
}
.totstudpercent2{
    position: absolute;
    width: 363px;
    height: 20px;
    left: 578px;
    top: 480px;
    background: #1C1B54;
    border-radius: 100px;
}

.subbg3{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 553px;
    top: 531px;
    background: #E8F8FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.subbox3{
    position: absolute;
    width: 373px;
    height: 100px;
    left: 568px;
    top: 546px;
    background: rgba(38, 148, 186, 0.7);
    border-radius: 10px;
}
.subname3{
    position: absolute;
    width: 205px;
    height: 27px;
    left: 580px;
    top: 557px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.subcode3{
    position: absolute;
    width: 27px;
    height: 13px;
    left: 580px;
    top: 579px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.subprof3{
    position: absolute;
    width: 72px;
    height: 13px;
    left: 580px;
    top: 591px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.subimage3{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 718px;
    top: 615px;
    background: #0A0044;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.num13{
    position: absolute;
    width: 24px;
    height: 27px;
    left: 578px;
    top: 671px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #A2B81F;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.num23{
    position: absolute;
    width: 24px;
    height: 27px;
    left: 917px;
    top: 671px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #1C1B54;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.activestud3{
    position: absolute;
    width: 35px;
    height: 7px;
    left: 602px;
    top: 674px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
}
.totsud3{
    position: absolute;
    width: 32px;
    height: 7px;
    left: 828px;
    top: 675px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
}
.activestudpercent3{
    position: absolute;
    width: 231px;
    height: 20px;
    left: 578px;
    top: 697px;
    background: #A2B81F;
    border-radius: 100px;
}
.totstudpercent3{
    position: absolute;
    width: 363px;
    height: 20px;
    left: 578px;
    top: 697px;
    background: #1C1B54;
    border-radius: 100px;
}
.Todolist{
    position: absolute;
    width: 344px;
    height: 610px;
    left: 995px;
    top: 128px;
    background: #E8F8FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.Todolisttext{
    position: absolute;
    width: 103px;
    height: 23px;
    left: 81px;
    top: 13px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.Todolistbox1{
    position: absolute;
    width: 58px;
    height: 42px;
    left: 23px;
    top: 55px;
    background-image: url('1.png');
}

.Todolistbox2{
    position: absolute;
    width: 58px;
    height: 16px;
    left: 23px;
    top: 96px;
    background-image: url('month1.png');
}
.TodolistSubjCode{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 90px;
    top: 59px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.TodolistSubjName{
    position: absolute;
    width: 75px;
    height: 14px;
    left: 90px;
    top: 73px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.TodolistAct{
    position: absolute;
    width: 50px;
    height: 12px;
    left: 90px;
    top: 87px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.TodolistDesc{
    position: absolute;
    width: 80px;
    height: 12px;
    left: 90px;
    top: 99px;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
}

.Todolistbox11{
    position: absolute;
    width: 58px;
    height: 42px;
    left: 23px;
    top: 142px;
    background-image: url('2.png');
}
.Todolistbox21{
    position: absolute;
    width: 58px;
    height: 16px;
    left: 23px;
    top: 183px;
    background-image: url('month1.png');
}
.TodolistSubjCode1{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 90px;
    top: 146px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.TodolistSubjName1{
    position: absolute;
    width: 75px;
    height: 14px;
    left: 90px;
    top: 160px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.TodolistAct1{
    position: absolute;
    width: 50px;
    height: 12px;
    left: 90px;
    top: 174px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.TodolistDesc1{
    position: absolute;
    width: 80px;
    height: 12px;
    left: 90px;
    top: 186px;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
}

.Todolistbox12{
    position: absolute;
    width: 58px;
    height: 42px;
    left: 23px;
    top: 229px;
    background-image: url('3.png');
}
.Todolistbox22{
    position: absolute;
    width: 58px;
    height: 16px;
    left: 23px;
    top: 270px;
    background-image: url('month1.png');
}
.TodolistSubjCode2{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 90px;
    top: 233px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.TodolistSubjName2{
    position: absolute;
    width: 75px;
    height: 14px;
    left: 90px;
    top: 247px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.TodolistAct2{
    position: absolute;
    width: 50px;
    height: 12px;
    left: 90px;
    top: 261px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.TodolistDesc2{
    position: absolute;
    width: 80px;
    height: 12px;
    left: 90px;
    top: 273px;
        font-family: Segoe UI;
    font-style: italic;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
}

.Todolistbox13{
    position: absolute;
    width: 58px;
    height: 42px;
    left: 23px;
    top: 316px;
    background-image: url('4.png');
}
.Todolistbox23{
    position: absolute;
    width: 58px;
    height: 16px;
    left: 23px;
    top: 357px;
    background-image: url('month1.png');
}
.TodolistSubjCode3{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 90px;
    top: 320px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.TodolistSubjName3{
    position: absolute;
    width: 75px;
    height: 14px;
    left: 90px;
    top: 334px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.TodolistAct3{
    position: absolute;
    width: 50px;
    height: 12px;
    left: 90px;
    top: 348px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.TodolistDesc3{
    position: absolute;
    width: 80px;
    height: 12px;
    left: 90px;
    top: 360px;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
}

.TodolistLine{
    position: absolute;
    width: 232px;
    height: 0px;
    left: 16px;
    top: 384px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.Donebox1{
    position: absolute;
    width: 58px;
    height: 42px;
    left: 23px;
    top: 422px;
    background-image: url('5.png');
}

.Donebox2{
    position: absolute;
    width: 58px;
    height: 16px;
    left: 23px;
    top: 463px;
    background-image: url('month2.png');
}
.DoneSubjCode{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 90px;
    top: 426px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.DoneSubjName{
    position: absolute;
    width: 75px;
    height: 14px;
    left: 90px;
    top: 440px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.DoneAct{
    position: absolute;
    width: 50px;
    height: 12px;
    left: 90px;
    top: 455px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.DoneDesc{
    position: absolute;
    width: 80px;
    height: 12px;
    left: 90px;
    top: 466px;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
}

.Donebox11{
    position: absolute;
    width: 58px;
    height: 42px;
    left: 23px;
    top: 508px;
    background-image: url('6.png');
}
.Donebox21{
    position: absolute;
    width: 58px;
    height: 16px;
    left: 23px;
    top: 549px;
    background-image: url('month2.png');
}
.DoneSubjCode1{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 90px;
    top: 512px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.DoneSubjName1{
    position: absolute;
    width: 75px;
    height: 14px;
    left: 90px;
    top: 526px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.DoneAct1{
    position: absolute;
    width: 50px;
    height: 12px;
    left: 90px;
    top: 541px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.DoneDesc1{
    position: absolute;
    width: 80px;
    height: 12px;
    left: 90px;
    top: 552px;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
}